<div class="wrapper">
    <div class="settings-block">
        <form action="/select" method="post" id="select-form">
            <div class="input-field col s12">
                <select id="category" name="select-category">
                    <option value="" disabled>Choose a category</option>
                    <option id="option1" value="in progress" selected>In progress</option>
                    <option id="option2" value="already known">Already known</option>
                </select>
            </div>
        </form>
    </div>
    <br>
    <span class="no-word-item">No words!</span>
</div>