<h2>Sign up</h2>

<div id="signup-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="signup-form">
        <div class="row"></div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input class="validate" id="username-signup" type="text">
            <label for="username-signup" data-error="wrong" data-success="right">Enter username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <input class="validate" id="email-signup" type="email">
            <label for="email-signup" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password-signup" type="password">
            <label for="password-signup">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="confirm-password-signup" type="password">
            <label for="confirm-password-signup">Confirm password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <a href="#" class="btn waves-effect waves-light col s12">Sign up</a>
          </div>
        </div>
        <div class="row center">
          <div class="input-field col s12">
            <p class="margin medium-small">Already have an account?<br><br><a href="/login">Sign in!</a></p>
          </div>
         
        </div>

      </form>
    </div>
  </div> </body>
